
.category-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url('../../playground_assets/background12001-1500h.png');
  background-position: left center;
}
.category-titel-div {
  width: fit-content;
  display: flex;
  overflow: hidden;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  background-color: var(--dl-color-primary-100);
}
.category-titel {
  margin: 0px;
  display: flex;
  padding: 24px;
  font-size: 5vw;
  line-height: 1;
}
.category-category-div {
  width: auto;
  height: 80vh;
  margin: 48px;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr;
}
.category-category1 {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--dl-color-primary-700);
}
.category-category1[name="selected"] {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background-color: darkblue;
  border: 4px solid white;
}
.category-category1[name="chosen"] {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background-color: rgb(0, 139, 42);
  border: 4px solid white;
}
.category-category-text {
  color: white;
  margin: auto;
  font-size: 6vw;
  overflow-wrap: break-word;
}
.category-category2 {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--dl-color-primary-700);
}
.category-category2[name="selected"] {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background-color: darkblue;
  border: 4px solid white;
}
.category-category2[name="chosen"] {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background-color: rgb(0, 139, 42);
  border: 4px solid white;
}
.category-category-text {
  color: white;
  margin: auto;
  font-size: 6vw;
}
.category-category3 {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--dl-color-primary-700);
}
.category-category3[name="selected"] {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background-color: darkblue;
  border: 4px solid white;
}
.category-category3[name="chosen"] {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background-color: rgb(0, 139, 42);
  border: 4px solid white;
}
.category-category-text {
  color: white;
  margin: auto;
  font-size: 6vw;
}
@media(max-width: 992px) {
  .category-category-text {
    font-size: 7vw;
  }
}
@media(max-width: 576px) {
  .category-category-div {
    grid-gap: 24px;
  }
  .category-category-text {
    font-size: 8vw;
  }
}
@media (hover: hover) {
  /* when hover is supported */
  button:hover {
    cursor: pointer;
  }
  button:disabled:hover {
    cursor: default;
  }
}
