.lobby-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('../../playground_assets/background12001-1500h.png');
  background-position: left center;
}

.logo {
  width: 100%;
  padding-top: 10px;
  height: 12vh;
  fill: none;
  stroke-width: 8px;
  stroke: black;
}        

.lobby-header-div {
  width: 100%;
  height: auto;
  margin: 0px;
  display: grid;
  grid-template-columns: 30vw 70vw;
  align-items: center;
  background-color: var(--dl-color-primary-100-trans);
}
.lobby-lobby-title {
  margin: 0px;
  font-size: 7vw;
  align-self: center;
  text-align: center;
}
.lobby-logout-div {
  display: flex;
  align-items: center;
  align-self: end;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.lobby-logout {
  width: 150px;
  font-size: 22px;
  align-self: center;
  text-align: center;
  margin-left: 50px;
  border-width: 0px;
  margin-right: 50px;
}
.lobby-hero-div {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.lobby-btn-group {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lobby-new-game {
  flex: 1;
  width: 250px;
  height: 100px;
  margin: 20px;
  padding: 32px;
  font-size: 22px;
  align-self: center;
  text-align: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.lobby-join-game {
  flex: 1;
  width: 250px;
  height: 100px;
  margin: 20px;
  padding: 32px;
  font-size: 22px;
  align-self: center;
  text-align: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
@media(max-width: 992px) {
  .lobby-lobby-title {
    font-size: 6.5vw;
  }
  .lobby-header-div {
    
  }

  .lobby-lobby-title {
    width: 50vw;
  }
}
@media(max-width: 576px) {
  .lobby-loader {
    scale: 0.3;
    left: -160px;
    position: absolute;
    top: -130px;
  }
  .lobby-header-div {
    height: fit-content;
    flex-direction: row;
    display: flex;
    flex-direction: column;
  }
  .lobby-camel-preview-div {
    align-self: center;
    align-items: center;
    margin-bottom: 34px;
  }
  .lobby-camel-div {
    width: 0px;
    height: 90px;
  }
  .lobby-logout-div {
    display: flex;
    width: 100vw;
    height: auto;
  }
  .lobby-logout {
    width: 150px;
    font-size: 15px;
    align-self: center;
    text-align: center;
    border-width: 0px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
  .lobby-btn-group {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    z-index: 1;
  }
  .lobby-join-game {
    font-size: 22px;
  }
  .lobby-container1 {
    grid-template-columns: 50% 50%;
  }
}
