.lobby-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("../../../public/playground_assets/background12001-1500h.png");
  background-position: left center;
}
.lobby-header-div {
  width: 100%;
  height: 250px;
  margin: 0px;
  display: flex;
  opacity: 0.7;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-primary-100);
}
.lobby-camel-preview-div {
  width: 250px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lobby-camel-div {
  width: 150px;
  height: 140px;
  display: flex;
  margin-top: 25px;
  align-items: center;
  margin-left: 50px;
  border-color: var(--dl-color-primary-700);
  border-width: 2px;
  margin-right: 50px;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: 25px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.lobby-camel {
  width: 192px;
  margin: 50px;
  object-fit: cover;
}
.lobby-preview-title {
  margin: 0px;
  align-self: center;
}
.lobby-lobby-title {
  width: 100vw;
  margin: 0px;
  font-size: 7vw;
  align-self: center;
  text-align: center;
}
.lobby-logout-div {
  width: 250px;
  display: flex;
  align-items: center;
  align-self: end;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.lobby-logout {
  width: 150px;
  font-size: 22px;
  align-self: center;
  text-align: center;
  margin-left: 50px;
  border-width: 0px;
  margin-right: 50px;
}
.lobby-hero-div {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.lobby-btn-group {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lobby-new-game {
  flex: 1;
  width: 250px;
  height: 100px;
  margin: 20px;
  padding: 32px;
  font-size: 22px;
  align-self: center;
  text-align: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.lobby-join-game {
  flex: 1;
  width: 250px;
  height: 100px;
  margin: 20px;
  padding: 32px;
  font-size: 22px;
  align-self: center;
  text-align: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
@media(max-width: 992px) {
  .lobby-lobby-title {
    font-size: 6.5vw;
  }
}
@media(max-width: 767px) {
  .lobby-logout-div {
    display: none;
  }
  .lobby-btn-group {
    display: none;
  }
}
@media(max-width: 576px) {
  .lobby-header-div {
    height: fit-content;
    flex-direction: column;
  }
  .lobby-camel-preview-div {
    align-self: center;
    align-items: center;
    margin-bottom: 34px;
  }
  .lobby-camel-div {
    width: 100px;
    height: 90px;
  }
  .lobby-lobby-title {
    margin-bottom: 16px;
    text-decoration: underline;
  }
  .lobby-logout-div {
    display: flex;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
  .lobby-btn-group {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
  .lobby-join-game {
    font-size: 22px;
  }
}
