.login-container {
  width: 100vw;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('../../playground_assets/background12001-1500h.png');
  background-position: left center;
}
.login-main-div {
  width: 370px;
  height: 620px;
  display: flex;
  opacity: 1;
  align-self: center;
  align-items: center;
  border-color: #1958eb;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(25, 88, 235, 0.9);
}
.login-title {
  color: var(--dl-color-primary-100);
  font-size: 3rem;
  text-align: center;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 48px;
  margin: 0px;
}
.login-instructions {
  padding: 10px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-threeunits);
  margin: 0px;
}
.login-input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.login-input-description {
  padding: 10px;
  margin: 0px;
}
.login-input-field {
  background-color: rgba(255, 210, 69, 0.43);
  width: 85%;
}
.login-login-button {
  color: var(--dl-color-gray-500);
  width: 250px;
  height: 50px;
  margin: 15px;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  background-color: var(--dl-color-primary-100);
  &:disabled {
    background-color: #a1a1a1c5;
  }
}
.login-login-button:enabled{
  color: black;
}
