.not-found-container {
    width: 100vw;
    height: 50vh;
    display: flex;
    min-width: fit-content;
    min-height: fit-content;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url('../../playground_assets/background12001-1500h.png');
    background-position: bottom;
  }
  .not-found-main-div {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: auto;
    align-items: flex-end;
    margin-bottom: 48px;
    flex-direction: column;
  }
  .not-found-error-message {
    color: var(--dl-color-gray-black);
    font-size: 5vw;
    align-self: center;
  }
  .not-found-home {
    align-self: center;
    margin-top: 40px;
  }
  @media(max-width: 992px) {
    .not-found-container {
      height: 40vh;
    }
    .not-found-main-div {
      margin-bottom: 16px;
    }
  }
  @media(max-width: 576px) {
    .not-found-container {
      height: 20vh;
    }
    .not-found-main-div {
      margin-bottom: 8px;
    }
    .not-found-home {
      margin-top: 20px;
    }
  }
  