.overview-container {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-size: cover;
  background-image: url('../../playground_assets/background12001-1500h.png');
  background-position: left center;
}