.question-voting-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url('../../../public/playground_assets/background12001-1500h.png');
  background-position: left center;
}
.question-voting-question-div {
  width: auto;
  max-height: 40vh;
  margin: 48px;
  display: flex;
  opacity: 0.8;
  padding: 40px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 16px;
  background-color: var(--dl-color-primary-100);
}
.question-voting-question {
  margin: auto;
  font-size: 5vw;
  text-align: center;
  line-height: 1.2;
}
.question-voting-options-div {
  width: auto;
  height: 60vh;
  margin: 48px;
  display: grid;
  grid-gap: 24px;
  margin-top: 32px;
  grid-template-columns: 1fr 1fr;
}
.question-voting-option1 {
  display: flex;
  opacity: 0.95;
  padding: 12px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-primary-700);
}
.question-voting-option1[name="selected"] {
  display: flex;
  opacity: 0.95;
  padding: 12px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: darkblue;
  border: 4px solid white;
}
.question-voting-option-text {
  color: white;
  margin: auto;
  font-size: 6vw;
}
.question-voting-option2 {
  display: flex;
  opacity: 0.95;
  padding: 12px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-primary-700);
}
.question-voting-option2[name="selected"] {
  display: flex;
  opacity: 0.95;
  padding: 12px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: darkblue;
  border: 4px solid white;
}
.question-voting-option-text {
  color: white;
  margin: auto;
  font-size: 6vw;
}
@media(max-width: 992px) {
  .question-voting-question-div {
    padding: 24px;
  }
  .question-voting-question {
    font-size: 6vw;
  }
  .question-voting-options-div {
    grid-template-columns: 1fr;
  }
  .question-voting-option-text {
    font-size: 5vw;
  }
}
@media(max-width: 576px) {
  .question-voting-question-div {
    margin: 32px;
    margin-bottom: 16px;
  }
  .question-voting-question {
    font-size: 7vw;
  }
  .question-voting-options-div {
    margin: 32px;
    grid-gap: 16px;
    margin-top: 16px;
  }
  .question-voting-option1 {
    padding: 8px;
  }
  .question-voting-option-text {
    font-size: 10vw;
  }
  .question-voting-option2 {
    padding: 8px;
  }
}
@media (hover: hover) {
  /* when hover is supported */
  button:hover {
    cursor: pointer;
  }
  button:disabled:hover {
    cursor: default;
  }
}
