.rules-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('../../../public/playground_assets/background12001-1500h.png');
  background-position: left center;
}
.rules-container1 {
  width: 390px;
  height: 709px;
  display: flex;
  opacity: 1;
  align-self: center;
  align-items: center;
  border-color: #1958eb;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(25, 88, 235, 0.9);
}
.rules-login-text {
  color: var(--dl-color-primary-100);
  padding: 25px;
}
.rules-text {
  padding: 10px;
}
.rules-button {
  color: var(--dl-color-gray-500);
  width: 250px;
  height: 50px;
  margin: 15px;
  padding: 15px;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  background-color: var(--dl-color-primary-100);
}
@media(max-width: 576px) {
  .rules-container1 {
    padding: 10px;
  }
}
