.rules-container {
  width: 100vw;
  display: flex;
  overflow: hidden;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  position: absolute;
  top:0;
  left:0;
}
.rules-main-div {
  width: 90vw;
  margin: 48px;
  display: flex;
  opacity: 0.95;
  padding: 30px;
  align-self: center;
  height: min-content;
  align-items: flex-start;
  border-color: #1958eb;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(25, 88, 235, 0.9);
  overflow: auto;
}
.rules-titel {
  color: var(--dl-color-primary-100);
  margin: 0px;
  font-size: 7vw;
  padding-bottom: 24px;
}
.rules-rules-text {
  color: white;
  margin: 0px;
  font-size: 3.5vw;
  padding-left: 0px;
  list-style-type: decimal;
  list-style-position: inside;
}
.rules-question-types-list {
  color: white;
  margin: 0px;
  font-size: 3vw;
  padding-top: 16px;
  padding-left: 24px;
  list-style-type: lower-alpha;
  list-style-position: inside;
}
.list-item {
  color: white;
  display: list-item;
  font-size: inherit;
  padding-bottom: 16px;
}
@media(max-width: 992px) {
  .rules-main-div {
    margin: 32px;
  }
}
@media(max-width: 576px) {
  .rules-main-div {
    margin: 20px;
    padding: 16px;
  }
  .rules-titel {
    padding-bottom: 16px;
  }
  .rules-question-types-list {
    padding-left: 16px;
  }
  .rules-rules-text {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

