.winner-container {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-image: url('../../playground_assets/background12001-1500h.png');
  background-position: left center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.winner-header-div {
  display: flex;
  justify-content: flex-end;
}
.winner-main-div {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  align-self: flex-end;
}
.winner-titel {
  width: min-content;
  margin: 0px;
  opacity: 0.85;
  padding: 16px;
  font-size: 3vw;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: var(--dl-color-primary-100);
}
.winner-goHome {
  width: 150px;
  height: 50px;
  align-self: center;
  margin-right: 20px;
  margin-top: 20px;
}
.winner-hero-div {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 60vh;
}
.winner-stats-div {
  width: 25%;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  padding: 15px;
  border-radius: 12px;
  background-color: var(--dl-color-primary-700);
}
.winner-podium-div {
  width: 75%;
  height: auto;
  display: flex;
}
@media(max-width: 992px) {
  .winner-main-div {
    padding-left: 24px;
    padding-bottom: 24px;
  }
  .winner-titel {
    font-size: 5vw;
  }
  .winner-stats-div {
    width: 35%;
  }
  .winner-podium-div {
    width: 65%;
  }
}
@media(max-width: 576px) {
  .winner-container {
    min-height: unset;
  }
  .winner-header-div {
    margin-bottom: 40px;
  }
  .winner-main-div {
    height: fit-content;
    padding: 24px;
    padding-top: 5px;
  }
  .winner-titel {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 32px;
    align-self: center;
    margin-top: 0px;
  }
  .winner-hero-div {
    height: max-content;
    flex-direction: column;
    margin-top: 8px;
  }
  .winner-stats-div {
    width: 70%;
    align-self: center;
    margin-bottom: 25px;
  }
  .winner-podium-div {
    width: 100%;
    margin-top: 100px;
  }
  .winner-goHome {
    width: max-content;
    font-size: 20px;
    padding: 10px;
  }
}
