.winner-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url('../../../public/playground_assets/background12001-1500h.png');
  background-position: left center;
}
.winner-main-div {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 32px;
  padding-left: 32px;
  flex-direction: column;
  padding-bottom: 32px;
}
.winner-titel {
  width: min-content;
  opacity: 0.85;
  padding: 16px;
  font-size: 4vw;
  align-self: flex-start;
  margin-top: 48px;
  border-radius: 12px;
  background-color: var(--dl-color-primary-100);
}
.winner-hero-div {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 48px;
}
.winner-stats-div {
  width: 25%;
  display: grid;
  opacity: 0.9;
  border-radius: 12px;
  background-color: var(--dl-color-primary-700);
}
.winner-podium-div {
  width: 75%;
  height: auto;
  display: flex;
}
@media(max-width: 992px) {
  .winner-main-div {
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
  }
  .winner-titel {
    font-size: 5vw;
  }
  .winner-stats-div {
    width: 35%;
  }
  .winner-podium-div {
    width: 65%;
  }
}
@media(max-width: 991px) {
  .winner-titel {
    align-self: center;
  }
  .winner-stats-div {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .winner-main-div {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 576px) {
  .winner-container {
    height: fit-content;
  }
  .winner-main-div {
    height: fit-content;
    padding: 24px;
  }
  .winner-titel {
    font-size: 8vw;
    align-self: center;
    margin-top: 32px;
  }
  .winner-hero-div {
    height: max-content;
    margin-top: 32px;
    flex-direction: column;
  }
  .winner-stats-div {
    width: 80%;
    align-self: center;
  }
  .winner-podium-div {
    width: 100%;
    margin-top: 160px;
  }
}
@media(max-width: 479px) {
  .winner-main-div {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .winner-stats-div {
    grid-gap: var(--dl-space-space-halfunit);
  }
}
