
  .enter-pin-main-div {
    width: 350px;
    height: 300px;
    margin: auto;
    display:flex;
    position: fixed;
    padding: 24px;
    border-color: #1958eb;
    border-radius: var(--dl-radius-radius-radius8);
    flex-direction: column;
    background-color: rgba(25, 88, 235, 0.9);
    top: 45%;
    
    z-index: 2;
  }
  .enter-pin-title {
    color: var(--dl-color-primary-100);
    margin: 0px;
    font-size: 29px;
    align-self: center;
    padding-top: 16px;
    padding-bottom: 32px;
  }
  .enter-pin-pin {
    font-size: 24px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: var(--dl-color-gray-700);
  }
