.scoreboard-player-stats-feature-card {
  width: fit-content;
  margin: auto;
  display: flex;
  padding: 8px;
  align-self: center;
  transition: 0.3s;
  flex-direction: column;
}
.scoreboard-player-stats-feature-card:hover {
  transform: scale(1.02);
}
.scoreboard-player-stats-ranking-div {
  display: flex;
  margin-bottom: 8px;
}
.scoreboard-player-stats-rank {
  color: white;
  font-size: 22px;
  margin: 0px;
}
.scoreboard-player-stats-player-name {
  color: white;
  font-size: 22px;
  margin: 0px;
  margin-left: 16px;
}
.scoreboard-player-stats-stats-div {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.scoreboard-player-stats-stats-titel {
  color: white;
  font-size: 20px;
  margin: 0px;
}
.scoreboard-player-stats-stats {
  margin: 0px;
  font-size: medium;
  padding-top: 0px;
  padding-left: 0px;
  list-style-type: disc;
  list-style-position: inside;
}
.list-item {
  color: white;
  padding-bottom: 0px;
}


@media(max-width: 992px) {
  .scoreboard-player-stats-rank {
    font-size: 22px;
  }
  .scoreboard-player-stats-player-name {
    font-size: 22px;
  }
  .scoreboard-player-stats-stats-titel {
    font-size: 20px;
  }
}
@media(max-width: 576px) {
  .scoreboard-player-stats-feature-card {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
  }
  .scoreboard-player-stats-ranking-div {
    width: 100%;
  }
  .scoreboard-player-stats-rank {
    font-size: 4vw;
    align-self: center;
  }
  .scoreboard-player-stats-player-name {
    font-size: 4vw;
    align-self: center;
  }
  .scoreboard-player-stats-stats-titel {
    font-size: 4vw;
  }
}
